#version: "4"
services:
  api:
    build:
      context: .
      dockerfile: app/Dockerfile-api
    ports:
      - "5075:5075"
    volumes:
      - ./app/poster_api.py:/app/poster_api.py
      - media_data:/app/content
  gradio:
    build:
      context: .
      dockerfile: app/Dockerfile-gradio
    ports:
      - "7860:7860"
    volumes:
      - ./app/poster_gradio.py:/app/poster_gradio.py
      - media_data:/app/content
    depends_on:
      - api
volumes:
  media_data: